{% extends "income-expenses.html" %}
{% block transaction_screen %}
<form action="{{ url_for('income_expenses') }}" method="POST" class="asset-form">
    <h1 class="txt-shadow asset-header transaction"><b>Add a Transaction</b></h1>
    <input type="text" id="transaction_type" placeholder="Income or Expense?" name="transaction_type" class="input txt-shadow" required>
    <input type="text" id="category" placeholder="Transaction Description" name="category" class="input txt-shadow" required>
    <input type="number" id="amount" placeholder="Amount" name="amount" class="input txt-shadow" required>
    <input type="submit" id="submit-button" value="Submit" class="bx-shadow button-clr">
</form>
{% endblock %}