{% extends "income-expenses.html" %}
{% block transaction_screen %}
<form action="{{ url_for('addTransaction') }}" method="POST" class="asset-form">
    <h1 class="txt-shadow asset-header transaction"><b>Add a Transaction</b></h1>
    <select id="category" class="input txt-shadow select" name="category">
        <option value="income">Income</option>
        <option value="traveling">Traveling</option>
        <option value="grocerys">Grocery's</option>
        <option value="shopping">Shopping</option>
        <option value="entertainment">Entertainment</option>
        <option value="other">Other</option>
      </select>
    <input type="number" id="amount" placeholder="Amount" name="amount" class="input txt-shadow" required>
    <div class="radio-container">
        <div>
            <input type="radio" id="transaction_type_earning" name="transaction_type" value="earning" class="input txt-shadow radio" required>
            <label for="transaction_type_earning" class="input">Earning</label>
        </div>
        <div>
            <input type="radio" id="transaction_type_expense" name="transaction_type" value="expense" class="input txt-shadow radio" required>
            <label for="transaction_type_expense" class="input">Expense</label>
        </div>
    </div>
    <input type="submit" value="Submit" class="bx-shadow button-clr main submit-button txt-shadow">
</form>
{% endblock %}