{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="row centre">
                <div class="display-screen centre" id="asset-screen">
                    {% block asset_screen %}
                    {% endblock %}
                </div>
            </div>
            <div class="row centre buttons-gap">
                <a href="{{ url_for('addAssets') }}" class="bx-shadow bttn txt-shadow" id="add-asset">Add Asset</a>
                <a href="{{ url_for('deleteAssets') }}" class="bx-shadow bttn txt-shadow" id="add-asset">Delete Asset</a>
            </div>
        </div>
        <div class="col-md-6 centre">
            <div class="chart-box asset-chart">
                <canvas id="asset-chart"></canvas>
            </div>
            <div class="salary-circle asset-sum centre">
                <h2 class="salary txt-shadow">£{{ total_asset_value }}</h2>
            </div>
        </div>
    </div>
</div>
<div id="asset-name-container" data="{{ asset_names }}"></div>
<div id="asset-value-container" data="{{ asset_values }}"></div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/assets.js') }}"></script>
{% endblock %}