{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h1 class="page-title txt-shadow">Most Recent Transactions</h1>
            <div class="table">
                <div class="trow header bx-shadow">
                    <div class="cell heads txt-shadow">Id</div>
                    <div class="cell heads txt-shadow">Date</div>
                    <div class="cell heads txt-shadow">Transaction</div>
                    <div class="cell heads txt-shadow">Category</div>
                    <div class="cell heads rem txt-shadow">Amount</div>
                </div>
                {% if latest_transactions|length == 0 %}
                <h2 class="no-transactions txt-shadow">Add A Transaction To View</h2>
                {% else %}
                    {% for transaction in latest_transactions %}
                    <div class="trow bx-shadow">
                        <div class="cell">{{ transaction.transaction_id }}</div>
                        <div class="cell">{{ transaction.date }}</div>
                        <div class="cell">
                            {% if transaction.transaction_type == "earning" %}
                            <i class="fas fa-circle-up"></i>
                            {% else %}
                            <i class="fas fa-circle-down"></i>
                            {% endif %}
                        </div>
                        <div class="cell">
                            {% if transaction.category == "income" %}
                            <i class="fas fa-money-bills"></i>
                            {% elif transaction.category == "traveling" %}
                            <i class="fas fa-plane"></i>
                            {% elif transaction.category == "grocerys" %}
                            <i class="fas fa-cart-shopping"></i>
                            {% elif transaction.category == "shopping" %}
                            <i class="fas fa-shirt"></i>
                            {% elif transaction.category == "entertainment" %}
                            <i class="fas fa-ticket"></i>
                            {% else %}
                            <i class="fas fa-question"></i>
                            {% endif %}
                        </div>
                        <div class="cell">£{{ transaction.amount }}</div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 chart-box">
                    <h4 class="centre-text savings-text special-saving txt-shadow">Net Worth Goal: £{{ net_worth_goal }}</h4>
                    <canvas id="net-worth-chart"></canvas>
                    <h4 class="centre-text savings-text txt-shadow">
                        {% if user.salary == None %}
                        Net Worth: £0
                        {% else %}
                        Net Worth: £{{ net_worth }}
                        {% endif %}
                    </h4>
                </div>
                <div class="col-md-6 chart-box">
                    <h4 class="centre-text savings-text special-saving txt-shadow">Savings Goal: £ {{ savings_goal }}</h4>
                    <canvas id="savings-chart"></canvas>
                    <h4 class="centre-text savings-text txt-shadow">Amount Saved: £{{ savings }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}