{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h1 class="page-title">Most Recent Expenses</h1>
            <table>
                <tbody class="table-body">
                    <tr class="table-row">
                        <td class="date data">2/12/23</td>
                        <td class="transaction data">Income</td>
                        <td class="amount data">+£13.96</td>
                    </tr>
                    <tr class="table-row">
                        <td class="date data">19/7/23</td>
                        <td class="transaction data">Shopping</td>
                        <td class="amount data">-£7.66</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}