{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h1 class="page-title txt-shadow">Most Recent Transactions</h1>
            <div class="table">
                <div class="trow header bx-shadow">
                    <div class="cell heads txt-shadow">Id</div>
                    <div class="cell heads txt-shadow">Date</div>
                    <div class="cell heads txt-shadow">Expenditure</div>
                    <div class="cell heads txt-shadow">Category</div>
                    <div class="cell heads rem txt-shadow">Amount</div>
                </div>
                {% if latest_transactions|length == 0 %}
                <h2 class="no-transactions txt-shadow">Add A Transaction To View</h2>
                {% else %}
                    {% for transaction in latest_transactions %}
                    <div class="trow bx-shadow">
                        <div class="cell">{{ transaction.transaction_id }}</div>
                        <div class="cell">{{ transaction.date }}</div>
                        <div class="cell">
                            {% if transaction.transaction_type == "earning" %}
                            <i class="fas fa-circle-up"></i>
                            {% else %}
                            <i class="fas fa-circle-down"></i>
                            {% endif %}
                        </div>
                        <div class="cell">{{ transaction.category }}</div>
                        <div class="cell">£{{ transaction.amount }}</div>
                    </div>
                    {% endfor %}
                {% endif %}
                <!-- <div class="trow bx-shadow">
                    <div class="cell">5</div>
                    <div class="cell">09, Jan, 24</div>
                    <div class="cell"><i class="fas fa-circle-up"></i></div>
                    <div class="cell"><i class="fas fa-building-columns"></i></div>
                    <div class="cell">£50.00</div>
                </div>

                <div class="trow bx-shadow">
                    <div class="cell">4</div>
                    <div class="cell">16, Dec, 23</div>
                    <div class="cell"><i class="fas fa-circle-down"></i></div>
                    <div class="cell"><i class="fas fa-cart-shopping"></i></div>
                    <div class="cell">£80.50</div>
                </div>

                <div class="trow bx-shadow">
                    <div class="cell">3</div>
                    <div class="cell">04, Dec, 23</div>
                    <div class="cell"><i class="fas fa-circle-down"></i></div>
                    <div class="cell"><i class="fas fa-car"></i></div>
                    <div class="cell">£63.17</div>
                </div>

                <div class="trow bx-shadow">
                    <div class="cell">2</div>
                    <div class="cell">28, Nov, 23</div>
                    <div class="cell"><i class="fas fa-circle-up"></i></div>
                    <div class="cell"><i class="fas fa-building-columns"></i></div>
                    <div class="cell">£28.56</div>
                </div>

                <div class="trow bx-shadow">
                    <div class="cell">1</div>
                    <div class="cell">03, Jan, 23</div>
                    <div class="cell"><i class="fas fa-circle-down"></i></div>
                    <div class="cell"><i class="fas fa-cart-shopping"></i></div>
                    <div class="cell">£16.11</div>
                </div> -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 chart-box">
                    <h4 class="centre-text savings-text special-saving txt-shadow">Net Worth Goal: £{{ net_worth_goal }}</h4>
                    <canvas id="net-worth-chart"></canvas>
                    <h4 class="centre-text savings-text txt-shadow">Net Worth: £{{ net_worth }}</h4>
                </div>
                <div class="col-md-6 chart-box">
                    <h4 class="centre-text savings-text special-saving txt-shadow">Savings Goal: £ {{ savings_goal }}</h4>
                    <canvas id="savings-chart"></canvas>
                    <h4 class="centre-text savings-text txt-shadow">Amount Saved: £{{ savings }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}