{% extends "income-expenses.html" %}
{% block transaction_screen %}
<form action="{{ url_for('deleteTransaction') }}" method="POST" class="asset-form">
    <h1 class="txt-shadow asset-header extra"><b>Delete a Transaction</b></h1>
    <input type="number" id="transaction_id" placeholder="Transaction Id" name="transaction_id" class="input txt-shadow" required>
    <h4 class="error-message delete">Are you sure you want to delete this transaction?</h4>
    <div class="radio-container">
        <div>
            <input type="radio" id="delete_yes" name="delete_transaction" value="yes" class="input txt-shadow radio" required>
            <label for="delete_yes" class="input">Yes</label>
        </div>
        <div>
            <input type="radio" id="delete_no" name="delete_transaction" value="no" class="input txt-shadow radio" required>
            <label for="delete_no" class="input">No</label>
        </div>
    </div>
    <input type="submit" value="Submit" class="bx-shadow button-clr main submit-button txt-shadow">
</form>
{% endblock %}