<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>FinView | Register</title>
</head>
<body class="log-in">
    <nav id="navigation">
        <div class="container-fluid">
            <div class="row">
                <ul class="nav-menu centre">
                    <li class="nav-links">
                        <h2 class="website-name">FinView</h2>
                    </li>
                    <li class="nav-links">
                        <a href="{{ url_for('home') }}" id="register-button">Log In</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section>
        <div class="container-fluid">
            <div class="row">
                <form action="{{ url_for('home') }}" method="POST" class="form-box">
                    <div class="row">
                        <h1 class="page-heading"><b>Register With Us</b></h1>
                    </div>
                    <div class="row label-input">
                        <label class="my-labels" for="fname"><b>First Name:</b></label>
                        <input type="text" id="fname" placeholder="Enter First Name" name="first-name" class="input-style" required>
                    </div>
                    <div class="row label-input">
                        <label class="my-labels" for="lname"><b>Last Name:</b></label>
                        <input type="text" id="lname" placeholder="Enter Last Name" name="last-name" class="input-style" required>
                    </div>
                    <div class="row label-input">
                        <label class="my-labels" for="username"><b>Username:</b></label>
                        <input type="text" id="username" placeholder="Enter Username" name="username" class="input-style" required>
                    </div>
                    <div class="row label-input">
                        <label class="my-labels" for="password"><b>Password:</b></label>
                        <input type="password" id="password" placeholder="Enter Password" name="password" class="input-style" required>
                    </div>
                    <div class="row">
                        <input type="submit" id="submit-button" value="Submit">
                    </div>
                </form>                
            </div>
        </div>
    </section>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>