/* General CSS */

body.log-in {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    background-color: #474471;
    background-image: url("../images/log-in-background.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.right-text {
    text-align: right;
}

.left-text {
    text-align: left;
}

.centre-text {
    text-align: center;
}

.centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS For Sign-In Page */

/* CSS For Navigation */

.nav-menu {
    gap: 60%;
    margin-top: 20px;
}

ul.nav-menu {
    list-style: none;
}

.website-name {
    color: #edf0f2;
    font-size: 60px;
    font-weight: 500;
    border-right: 3px solid #edf0f2;
    padding-right: 20px;
    display: inline-block;
}

#register-button {
    border: 2px solid #edf0f2;
    border-radius: 30px;
    color: #edf0f2;
    background-color: #474471;
    font-size: 26px;
    font-weight: 500;
    padding: 15px 30px;
    text-decoration: none;
}

/* CSS For Form */

.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-input {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 20px;
}

.label-input label {
    width: 230px;
}

.input-style {
    flex: 1; /* Fill remaining space */
    height: 75px;
    width: 400px;
    background-color: #474471;
    border: 2px solid #edf0f2;
    border-radius: 40px;
    color: #edf0f2;
    text-indent: 10px;
    font-size: 24px;
    margin-right: 220px;
}

input.input-style::placeholder {
    color: #edf0f2;
}

.page-heading {
    margin-top: 100px;
    font-size: 60px;
    color: #edf0f2;
    font-weight: 500;
}

.my-labels {
    font-size: 36px;
    color: #edf0f2;
}

#submit-button {
    background-color: #474471;
    border: 2px solid #edf0f2;
    border-radius: 40px;
    height: 60px;
    width: 200px;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #edf0f2;
}

/* CSS For Dashboard Page */

body.base {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    background-color: #474471;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-position: center top 10%;
}

.underline {
    border-bottom: 3px solid #edf0f2;
}

/* CSS For Navigation */

.main-nav {
    margin-top: 20px;
    list-style: none;
    gap: 5%;
}

.nav-link {
    margin-top: 10px;
    color: #edf0f2;
    font-size: 36px;
    font-weight: 500;
}

.nav-element {
    display: flex;
}

/* CSS For Dashboard Page */

/* CSS For table */

.page-title {
    margin-top: 50px;
    color: #edf0f2;
    font-size: 40px;
    text-align: center;
}

.table {
    display: flex;
    flex-direction: column;
    margin: 40px auto 0 auto;
    max-width: 800px;
}

.trow {
    display: flex;
    border: 3px solid #edf0f2;
    border-radius: 30px;
    max-width: 800px;
    margin-top: 20px;
    background-color: #2d2354;
}

.header {
    font-weight: bold;
    padding: 10px;
    color: #edf0f2;
}

.cell {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: #edf0f2;
}

.heads {
    border-right: 3px solid #edf0f2;
    font-size: 26px;
}

.heads.rem {
    border-right: none;
}

div.trow.header {
    border: none;
    margin-top: 0;
    background-color: #47447100;
}

.cell i {
    background-color: transparent;
    color: #edf0f2;
}